{% extends 'base.html' %}

{% block title %}Contact Us{% endblock title %}

{% load static %}

{% block body %}

{% comment %} heading and image {% endcomment %}
<div class="container-fluid px-0 ">
    <img  src={% static 'images/contact.jpg'%} class="d-block w-100" alt="image" width="1600" height="400">
    {% comment %} <h2 style="text-align:center;color: darkblue;position: absolute;top: 350px;left: 889px;font-size: 39px;background: lightgoldenrodyellow;border-radius: 4px;font-style: italic;border-color: black;">Contact Us</h2> {% endcomment %}
</div>
{% comment %} email pass and text box style="color:white" {% endcomment %}
<h2 class="py-1 my-2" style="color:white;text-align:center;background-color:grey">Contact Us</h2>
<form method="post" action="/contacts">
    {% csrf_token %}
    <div class="container py-4">   
        <div class="form-group mb-3">
            <label for="name" class="form-label my-3" style="color:white">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="name eg: ram,rahul,nish,etc.." data-nlok-ref-guid="bf95a88e-a444-45a1-f970-2ff9748c9dd7">
        </div>
        <div class="form-group mb-2">
            <label for="email" class="form-label my-1" style="color:white">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" data-nlok-ref-guid="bf95a88e-a444-45a1-f970-2ff9748c9dd7"><div id="norton-idsafe-field-styling-divId" style="height:27.636363636363637px;max-width:27.636363636363637px;vertical-align:top; position:absolute; top:602.1818258112127px;left:1255.460481436721px;cursor:pointer;resize: both;z-index:2147483646;"><img id="norton-idsafe-field-logo-imgId" src="chrome-extension://admmjipmmciaobhojoghlmleefbicajg/content/images/ic-field-logo.svg" style="height:27.636363636363637px; max-width:27.636363636363637px;"></div>
        </div>
        <div class="form-group mb-2">
            <label for="phone" class="form-label my-3" style="color:white">Pnone No.</label>
            <input type="phone" class="form-control" id="phone" name="phone" placeholder="enter your contact number" data-nlok-ref-guid="bf95a88e-a444-45a1-f970-2ff9748c9dd7">
        </div>
        <div class="form-group mb-2">
        <label for="option" style="color:white">Choose an option</label>
            <select class="form-select my-2" aria-label="Default select example" id="option" name="option">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="form-group mb-3 my-3">
            <label for="desc" class="form-label" style="color:white">Your Query</label>
            <textarea class="form-control" id="desc" name="desc" rows="3"></textarea>
        </div>
        <button type="Submit" class="btn btn-secondary">Submit</button>    
    </div>
</form>
{% endblock body %}